
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>ViewData vs ViewBag Demo</h1>

        ViewData = @(((DateTime)ViewData["date1"]).ToShortDateString()) 
        
        <br />

        ViewBag = @ViewBag.date2.ToShortTimeString()

    </div>
</body>
</html>
