
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script>
        $(function () {

            $("#btnConnect").click(function () {
                var url = "ws://localhost:61102/api/chat?username=" + $("#username").val();
                this.disabled = true;
                var ws = new WebSocket(url);

                $("#btnSend").click(function () {
                    ws.send($("#message").val());
                });

                ws.onopen = function () {
                    ws.send("進入聊天室");
                };
                ws.onerror = function (e) {
                    alert(e.message);
                }
                ws.onmessage = function (e) {
                    $("#output").append($("<li>").text(e.data));
                    console.log(e.data);
                }
            });
        });
    </script>

</head>
<body>
    <div> 
        <h1>Chat WebSocket Demo</h1>

        使用者暱稱：<input type="text" id="username" />
        <input type="button" id="btnConnect" value="進入聊天室" />
        <hr />
        聊天訊息：<input type="text" id="message" />
        <input type="button" id="btnSend" value="送出" />
        <hr />
        <ul id="output"></ul>

    </div>
</body>
</html>
