
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>TempData Demo</h1>

        ViewData = @ViewData["date1"] <br />
        ViewBag = @ViewBag.date2 <br />
        TempData = @TempData["date3"] <br />
    </div>
</body>
</html>
