
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionDemo</title>
</head>
<body>
    <div>
        <h1>Session Demo</h1>

        SessionID = @Session.SessionID <br />
        Session["count"] = @Session["count"] <br />

    </div>
</body>
</html>
