
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>

</head>
<body>
    <div>
        <h1>JQuery Demo</h1>

        <input type="button" value="Click" onclick="clickme();" />
        <input id="button1" type="button" value="DOM Level 0" />
        <input id="button2" type="button" value="DOM Level 2" />

        Name : <input type="text" id="text1" />
        <input id="button3" type="button" value="Hello" />


    </div>
  
    <script>


            //Page Load

       $(function () {

            //DOM Level 0
            $("#button1").click(function () {
                alert("xxxx");
            });

            //DOM Level 2
           //取代原來的addEventListener
            $("#button2").bind("click", function () {
                alert("yyyy");
            });


            $("#button3").click(function () {
                alert("Hello, " + $("#text1").val()); //注意val()
            });


        });
    </script>
</body>
</html>
